In [399]:
import pandas as pd
import numpy as np

In [400]:
df=pd.read_excel('Train_dataset.xlsx', index_col=0)

In [401]:
df=df.dropna()

In [402]:
df.columns

Index(['Region', 'Gender', 'Designation', 'Name', 'Married', 'Children',
       'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity',
       'Age', 'Coma score', 'Pulmonary score', 'cardiological pressure',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [403]:
colselected=['Gender','Married','Mode_transport','Occupation', 'comorbidity','Age','Heart rate','HDL cholesterol', 'Charlson Index', 'Blood Glucose','Infect_Prob']

In [404]:
df=df[colselected]

In [405]:
condition=df['Infect_Prob']<=50
df['Infect_Prob']=np.where(condition,0,1)

In [406]:
df

,Gender,Married,Mode_transport,Occupation,comorbidity,Age,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Infect_Prob
people_ID,,,,,,,,,,,
1,Female,YES,Public,Farmer,Hypertension,68,82.0,58.0,27,7,0
3,Female,NO,Public,Cleaner,None,19,77.0,43.0,40,6,1
4,Female,YES,Car,Driver,Coronary Heart Disease,33,64.0,60.0,27,7,0
5,Female,NO,Car,Manufacturing,Diabetes,23,71.0,64.0,32,7,1
6,Female,YES,Public,Clerk,None,35,94.0,38.0,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...
22690,Male,YES,Public,Farmer,Diabetes,35,69.0,44.0,31,3,1
22691,Male,NO,Car,Business,Diabetes,20,61.0,56.0,35,7,0
22693,Male,YES,Public,Clerk,Diabetes,59,87.0,37.0,16,5,0
22694,Male,YES,Walk,Legal,Coronary Heart Disease,49,56.0,70.0,28,5,1
22695,Male,NO,Car,Business,Diabetes,17,82.0,60.0,4,3,1

In [407]:
from sklearn.preprocessing import LabelEncoder
le2 = LabelEncoder()
le3 = LabelEncoder()
le4 = LabelEncoder()
le5 = LabelEncoder()
le6 = LabelEncoder()
le7 = LabelEncoder()
le8 = LabelEncoder()
le9 = LabelEncoder()
le10 = LabelEncoder()
le11 = LabelEncoder()
df['Gender'] = le2.fit_transform(df['Gender'])
df['Married'] = le3.fit_transform(df['Married'])
df['Mode_transport'] = le4.fit_transform(df['Mode_transport'])
df['Occupation'] = le5.fit_transform(df['Occupation'])
df['comorbidity'] = le6.fit_transform(df['comorbidity'])
df['Age'] = le7.fit_transform(df['Age'])
df['Heart rate'] = le8.fit_transform(df['Heart rate'])
df['HDL cholesterol'] = le9.fit_transform(df['HDL cholesterol'])
df['Blood Glucose'] = le10.fit_transform(df['Blood Glucose'])
df['Charlson Index'] = le11.fit_transform(df['Charlson Index'])

In [408]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

df[colselected[:-1]]=sc.fit_transform(df[colselected[:-1]])

In [409]:
df

,Gender,Married,Mode_transport,Occupation,comorbidity,Age,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Infect_Prob
people_ID,,,,,,,,,,,
1,-0.996024,0.537032,-0.023062,-0.016851,0.447702,1.602876,0.488316,0.502146,0.585693,1.427651,0
3,-0.996024,-1.862087,-0.023062,-1.190131,1.341128,-1.510662,0.151777,-0.940597,1.681958,0.708520,1
4,-0.996024,0.537032,-1.244085,-0.407944,-1.339151,-0.621080,-0.723222,0.694512,0.585693,1.427651,0
5,-0.996024,-1.862087,-1.244085,0.765336,-0.445724,-1.256496,-0.252069,1.079244,1.007333,1.427651,1
6,-0.996024,0.537032,-0.023062,-0.799038,1.341128,-0.493997,1.296008,-1.421511,-1.269526,-0.010611,0
...,...,...,...,...,...,...,...,...,...,...,...
22690,1.003992,0.537032,-0.023062,-0.016851,-0.445724,-0.493997,-0.386684,-0.844414,0.923005,-1.448874,1
22691,1.003992,-1.862087,-1.244085,-1.581225,-0.445724,-1.447121,-0.925145,0.309781,1.260318,1.427651,0
22693,1.003992,0.537032,-0.023062,-0.799038,-0.445724,1.031001,0.824854,-1.517694,-0.341916,-0.010611,0
22694,1.003992,0.537032,1.197961,0.374242,-1.339151,0.395586,-1.261684,1.656341,0.670021,-0.010611,1
22695,1.003992,-1.862087,-1.244085,-1.581225,-0.445724,-1.637745,0.488316,0.694512,-1.353854,-1.448874,1

In [410]:
from sklearn.model_selection import train_test_split
training_set, validation_set = train_test_split(df, test_size = 0.2, random_state = 21)
X_train = training_set.iloc[:,0:-1].values
Y_train = training_set.iloc[:,-1].values
X_val = validation_set.iloc[:,0:-1].values
y_val = validation_set.iloc[:,-1].values

In [411]:
def accuracy(confusion_matrix):
    diagonal_sum = confusion_matrix.trace()
    sum_of_all_elements = confusion_matrix.sum()
    return diagonal_sum / sum_of_all_elements

In [412]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [413]:
y_pred = classifier.predict(X_val)
#Generating the confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_val, y_pred)

In [414]:
print("__ACCURACY = ", accuracy(cm))

__ACCURACY =  0.7079646017699115

In [415]:
#TESTING ON TEST DATASET

In [416]:
df=pd.read_excel('Test_dataset.xlsx', index_col=0) 
df=df.dropna()
df=df[colselected[:-1]]

In [417]:
df

,Gender,Married,Mode_transport,Occupation,comorbidity,Age,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose
people_ID,,,,,,,,,,
5942,Female,YES,Public,Driver,Diabetes,52,85,53,17,3
18664,Male,YES,Walk,Legal,Diabetes,53,81,61,2,5
5603,Female,YES,Car,Sales,Diabetes,35,88,47,24,3
5649,Female,YES,Car,Sales,None,31,87,52,13,6
5099,Female,YES,Car,Business,Diabetes,51,94,68,39,5
...,...,...,...,...,...,...,...,...,...,...
23737,Male,YES,Walk,Cleaner,Coronary Heart Disease,55,66,45,34,3
11171,Female,YES,Car,Clerk,None,44,94,37,23,6
23243,Male,YES,Public,Business,None,46,73,56,6,6
11199,Female,YES,Car,Driver,Coronary Heart Disease,34,83,60,32,7
10787,Female,YES,Public,Driver,Diabetes,27,80,59,15,4

In [418]:


df['Gender'] = le2.transform(df['Gender'])
df['Married'] = le3.transform(df['Married'])
df['Mode_transport'] = le4.transform(df['Mode_transport'])
df['Occupation'] = le5.transform(df['Occupation'])
df['comorbidity'] = le6.transform(df['comorbidity'])
df['Age'] = le7.transform(df['Age'])
df['Heart rate'] = le8.transform(df['Heart rate'])
df['HDL cholesterol'] = le9.transform(df['HDL cholesterol'])
df['Blood Glucose'] = le10.transform(df['Blood Glucose'])
df['Charlson Index'] = le11.transform(df['Charlson Index'])

In [419]:
df[colselected[:-1]]=sc.transform(df[colselected[:-1]])

In [420]:
df

,Gender,Married,Mode_transport,Occupation,comorbidity,Age,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose
people_ID,,,,,,,,,,
5942,-0.996024,0.537032,-0.023062,-0.407944,-0.445724,0.586210,0.690239,0.021232,-0.257588,-1.448874
18664,1.003992,0.537032,1.197961,0.374242,-0.445724,0.649752,0.421008,0.790695,-1.522510,-0.010611
5603,-0.996024,0.537032,-1.244085,1.547523,-0.445724,-0.493997,0.892162,-0.555865,0.332708,-1.448874
5649,-0.996024,0.537032,-1.244085,1.547523,1.341128,-0.748163,0.824854,-0.074951,-0.594901,0.708520
5099,-0.996024,0.537032,-1.244085,-1.581225,-0.445724,0.522669,1.296008,1.463975,1.597630,-0.010611
...,...,...,...,...,...,...,...,...,...,...
23737,1.003992,0.537032,1.197961,-1.190131,-1.339151,0.776835,-0.588607,-0.748231,1.175989,-1.448874
11171,-0.996024,0.537032,-1.244085,-0.799038,1.341128,0.077878,1.296008,-1.517694,0.248380,0.708520
23243,1.003992,0.537032,-0.023062,-1.581225,1.341128,0.204961,-0.117453,0.309781,-1.185197,0.708520
11199,-0.996024,0.537032,-1.244085,-0.407944,-1.339151,-0.557538,0.555624,0.694512,1.007333,1.427651
10787,-0.996024,0.537032,-0.023062,-0.407944,-0.445724,-1.002329,0.353701,0.598329,-0.426245,-0.729743

In [421]:
df['Infect_Prob'] = classifier.predict_proba(df)[:,1]

In [422]:
df['Infect_Prob'].to_excel("output01.xlsx")